.login {
    text-align: center;

    a {
        background: rgb(39, 204, 39);
        color: white;
        font-weight: bold;
        font-size: 35px;
        width: 200px;
        height: 200px;
        display: inline-block;
        padding-top: 72px;
        border-radius: 100px;
    }
}